<div class="container mb-5" id="acerca-de">
  <div class="row">
    <div class="col-4">
      <div class="card position-relative" id="foto-perfil">
        <img src="../../../assets/img/foto-perfil.jpg" class="card-img-top rounded-circle border border-5 border-primary" alt="Foto de perfil">
        <div class="card-body">
          <h5 class="card-title">Adrián Blanche</h5>
          <p class="card-text">Lic. en Diseño de la Com. Visual<br>
          Full Stack Developer Jr.</p>
        </div>
      </div>
    </div>
    <div class="col-8 pt-5">
      <h3 class="text-primary bg-dark p-2 mb-4">Acerca de mí</h3>
      <p class="text-dark ">Me considero una persona práctica y creativa, habituada a investigar y aprender todo el tiempo con el fin de enriquecer mis resultados.</p>
      <ul>
        <li>Hace un par de años me hice usuario de <a href="https://es.wikipedia.org/wiki/GNU/Linux" class="text-primary" target="_blank">GNU / Linux</a> .</li>
        <li><a href="https://neovim.io/" class="text-primary" target="_blank">Neovim</a> es mi editor favorito. Lo utilizo incluso, para tomar notas en archivos <a href="https://es.wikipedia.org/wiki/Markdown" class="text-primary" target="_blank">Markdown</a> o manipular archivos <a href="https://es.wikipedia.org/wiki/Valores_separados_por_comas" class="text-primary" target="_blank">CSV</a>.</li>
        <li>Amo los atajos de teclado y las expresiones regulares (<a href="https://es.wikipedia.org/wiki/Expresi%C3%B3n_regular" class="text-primary" target="_blank">RegEx</a>).</li>
        <li>Lo que más me gusta de saber programar es poder crear mis propias herramientas de trabajo y automatizar algunas tareas.</li>
      </ul>
    </div>
  </div>
</div>
